<ion-view style="" title="Page">
    <ion-content class="has-header" padding="true">
        <button style="" class="button button-stable button-block ">Tap me!</button>
        <form style="" class="list">
            <ion-item style="" class="range range-positive">Range
                <input max="100" min="0" value="50" type="range">
            </ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Select</span>
                <select></select>
            </label>
        </form>
    </ion-content>
</ion-view>